<app-prograssbar [(currentstep)]="currentstep"></app-prograssbar>

<form [formGroup]="registerationform"
  action="#"
  class="mx-auto mt-5 max-w-md space-y-4 rounded-lg border border-gray-300 bg-gray-100 p-6"
>
@if(showerror()){
<div class="p-4 mb-4 z-50 text-sm text-red-800 rounded-lg bg-red-50 border border-red-300 flex items-center justify-between transition-all">
      <span>⚠️ Please fill in all required fields in this step before proceeding.</span>
      <button type="button" (click)="showerror.set(false)" class="text-red-800 font-bold ml-2">✕</button>
    </div>
}
@if (isloading.isloading()) {
<div class="flex flex-col items-center justify-center p-6 bg-blue-50 border border-blue-200 rounded-lg my-4 space-y-3">
   
    <div class="w-10 h-10 border-4 border-blue-600 border-t-transparent rounded-full animate-spin"></div>
    <p class="text-blue-700 font-medium text-sm">جاري حفظ وتسجيل بيانات الطالب، برجاء الانتظار...</p>
  </div>
}
@if (sucessmessage()) {
  <div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 backdrop-blur-sm animate-fade-in">
    <div class="bg-white border border-green-200 shadow-2xl rounded-2xl p-6 max-w-sm w-full mx-4 flex flex-col items-center text-center space-y-3 transform transition-all scale-100">
      
      
      <div class="w-14 h-14 bg-green-100 text-green-600 rounded-full flex items-center justify-center text-2xl font-bold shadow-inner">
        ✓
      </div>

      
      <h3 class="text-xl font-bold text-gray-800">تم التسجيل بنجاح!</h3>
      <p class="text-sm text-gray-600">جاري توجيهك إلى قائمة الطلاب...</p>

      
      <div class="w-full bg-gray-100 h-1.5 rounded-full overflow-hidden mt-2">
        <div class="bg-green-500 h-full animate-pulse w-full"></div>
      </div>

    </div>
  </div>
}
@if(currentstep()===1){
    <app-student-info [GrandForm]="registerationform"></app-student-info>
}

@if (currentstep() === 2) {
    <app-parent-info [GrandForm]="registerationform"></app-parent-info>
}



@if (currentstep() === 3) {
    <app-medical-info [GrandForm]="registerationform"></app-medical-info>
}
@if (currentstep() === 4) {
   <app-documents [GrandForm]="registerationform"></app-documents>
}
@if (currentstep() === 5) {
  <app-review [GrandForms]="registerationform" (editStep)="oneditstep($event)"></app-review>
}
    <div class="flex justify-between mt-8 pt-4 border-t">
        @if (currentstep() > 1) {
            <button type="button" (click)="PrevStep()" class="px-5 py-2.5 bg-gray-300 dark:bg-gray-700 rounded-lg font-medium">
                السابق
            </button>
        } 

        @if (currentstep() < 5) {
            <button type="button" (click)="NextStep()" class="px-5 py-2.5 bg-blue-600 text-white rounded-lg font-medium">
                التالي
            </button>
        } @else {
            <button (click)="onsubmit()"  type="submit" class="px-5 py-2.5 bg-green-600 text-white rounded-lg font-medium">
                إرسال الطلب
            </button>
        }
    </div>
</form>